services:
    db:
        image: mysql:8.0
        hostname: localhost
        ports:
            - '3306:3306'
        environment:
            - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
            - MYSQL_PASSWORD=${DB_PASSWORD}
            - MYSQL_DATABASE=${DB_NAME}
        volumes:
            - mysqldata:/var/lib/mysql
            - /etc/localtime:/etc/localtime:ro

    typesense:
        image: typesense/typesense:29.0
        container_name: typesense
        ports:
            - '8108:8108'
        volumes:
            - ./typesense-data:/data
        environment:
            TYPESENSE_API_KEY: ${TYPESENSE_API_SECRET_KEY}
        command: >
            --data-dir /data
            --api-key $TYPESENSE_API_KEY
            --enable-cors
volumes:
    mysqldata:
